section ul{

    display:grid;
    grid-template-columns: repeat(auto-fill, 19rem);
    justify-items: center;
}

figure img{

    width:10vw;

}
main{

    display:grid;
    grid-template-columns: 1fr 1fr;

}