@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

:root{
    --fuente:'Langar', cursive;
    --colorcop: rgb(202, 38, 120);
}

body{
    width: 100vw;
    background-color: rgb(176, 181, 187);
}
main{
    display: flex;
    height: 90vh;
    flex-direction: column;
    justify-content: space-evenly;
}
section{
    place-self: center;
}
img{
    width: 20vw;
    border-radius: 50%;
}
form{
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
input{
    font-family: var(--fuente);
    font-size: 1.2rem;
    padding-left: 0.5vw;
    outline: 2px var(--colorcop) solid;
}
input#botonLogin {
    width: 100%;
    padding: 0;
    background-color:  var(--colorcop);
    color: white;
}
p{
    border: 5px var(--colorcop) dashed;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 1.1rem;
    font-family: var(--fuente);
    letter-spacing: 0.1rem;
}