nav{
    height: 8vh;
    background-color: slategray;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 3vh;
}
form{
    display: flex;
}
input[type="search"]{
    padding-right: 2vh;
}
input[type="search"], input[type="submit"]{
    height: 4vh;
    border-radius: 10%;
    padding-top: 2vw;
}