<form action="/login" method="POST">

    <input type="text" name="user" id="user" placeholder="Usuario" required autofocus>
    <input type="password" name="password" id="password" placeholder="Contraseña" required>
    <input id="botonLogin" type="submit" value="Log In">

</form>

{{!-- Helper que inyecta un parcial de error si el parametro error que le mandamos
        esta a true --}}
{{#if error}}
    {{>atoms/login/error-form}}
{{/if}}