<h1>Creación de Libro</h1>
<form action="/libroForm" method="get">
    <fieldset>
        <label for="title">Título:</label>
        <input id= "title" type="text" name="title" placeholder="Introduce titulo">
        <label for="price">Precio:</label>
        <input id="price" type="number" name="price" placeholder="Introduce precio">
        <label for="stock">Stock:</label>
        <input id= "stock" type="number" name="stock" placeholder="Introduce stock">
        <label for="file">Ingrese foto del producto:</label>
        <input id="file" type="file" name="file" accept="image/*">
    </fieldset>
</form>



