<nav>
    <ul>
        {{>atoms/navbar/botonHome}}
        {{!-- Declaramos un helper listanav para hacer la lista dinamica y le inyectamos
                un parcial botonNav por cada elemento del .json--}}
        {{#each listanav}}
            <li>{{>atoms/navbar/botonNav}}</li>       
        {{/each}}
        {{!-- Barra de busqueda con un pequeño formulario --}}
        {{>atoms/navbar/barraBusqueda}}
    </ul>
</nav>